.s43 {
	line-height : 0px;
	.button { width : 40px; height : 40px;
	cursor: pointer;
	border: none;
	}
	.newbutt{
	color : red; background-color : cyan; cursor : pointer;
	}
	.changebutt { 
	color : yellow; background-color : green; cursor : pointer;
	}
	.solbutt { 
	color : white; background-color : red; cursor : pointer;
	}
}
